@import url('https://fonts.googleapis.com/css2?family=Zain:wght@200;300;400;700;800;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.fontZain {
    font-family: "Zain", sans-serif;
    font-style: normal;
}

#body {
    color: #bbbbbb;
    background: #333333;
    margin: 0;
    overflow: hidden;
}

#driver-view-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 10px 20px;
    background-color: #08f;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    z-index: 999;
}
#driver-view-btn2 {
    position: absolute;
    top: 20px;
    right: 210px;
    padding: 10px 20px;
    background-color: #08f;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    z-index: 999;
}